<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="/css/carrito.css"> 
    <script src="https://kit.fontawesome.com/d1b23dad08.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body class="body-carrito">

<!-- CABECERA -->
    <header>
        <section class="home_cabecera">
            <div class="home_cabecera_titulo">
                <h1>OWN STYLE</h1>
                <i class='bx bx-menu'></i>
            </div>
            <nav class="home_navegador">
                <ul class="home_navegador_links">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Editor</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                </ul>
            </nav>
        </section>    
    
    </header>

<div class="carrito_fondo">
<section class="carrito"> 

    <!-- CARRITO LADO IZQ -->
   <div class="carrito-detalle-producto">  
        <img src="/images/stade.jpg" class="remera">
        <ul class="carrito-nombre-descripcion" >
            <li class="carrito-nombre-producto" > Remera Stade Francais </li>
            <li class="carrito-descripcion-producto"> Año 2017, tela spandex </li>   
        </ul>
    </div>
<!-- CARRITO LADO DER     -->
    <div class="carrito-cantidad">
       
           <h1 class="cantidad" >Cantidad</h1>
           <h2 class="cantidad-numero"> 1 </h2>
           <h1 class="precio"> $1700  </h1>
      

    </div>

    <!-- BOTONES DE CONFIRMACION -->
    <div class="carrito-botones">
        <h1 class="boton-confirmar"> Confirmar Compra </h1>
        <h1 class="boton-cancelar"> Cancelar   </h1>
    </div>


</section>
</div>
    <!--FOOTER-->
    
    <section class="home_footer">
        <div class="home_footer_izquierda">
            <h2>OWN STYLE</h2>
            <div class="home_footer_izquierda_redes">
                <i class='bx bxl-instagram' ></i>
                <i class='bx bxl-twitter' ></i>
                <i class='bx bxl-facebook-square' ></i>
            </div>
        </div>
        <div class="home_footer_derecha">
            <ul>
                <li><a href="#">SOBRE NOSOTROS</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="#">Q&A</a></li>
                <li><a href="#">COMPRAR</a></li>
            </ul>
        </div>
    </section>
   
 </body>
</html>