<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OWN STYLE</title>
</head>
<body class="home_body">
    <!--CABECERA-->
    <section class="home_cabecera">
        <div class="home_cabecera_titulo">
            <h1>OWN STYLE</h1>
            <i class='bx bx-menu'></i>
        </div>
        <nav class="home_navegador">
            <ul class="home_navegador_links">
                <li><a href="#">EDITOR</a></li>
                <li><a href="#home_fin_guia">TUTORIAL</a></li>
                <li><a href="#">MI CARRITO</a></li>
            </ul>
        </nav>
    </section>
    <!--PORTADA-->
    <!-- <section class="home_portada">
        <div class="home_portada_container">
            <div class="home_portada_izquierda">
                <img src="/images/remeras.jpg" alt="Foto De Remera">
                <h3>Estampados personalizados en remeras, tasas, cuadros y mucho más...</h3>
            </div>
            <div class="home_portada_derecha">
                <img src="/images/tazas1.jpg" alt="Foto de tazas">
                <img src="/images/tazas2.jpg" alt="Foto de tazas">
            </div>
        </div>
    </section> -->
    <!--PORTADA 2-->
    <section class="home_portada2">
        <h3>ESTAMPADOS PERSONALIZADOS EN REMERAS, TASAS, CUADROS Y MUCHO MÁS...</h3>
        <div class="home_slide">
            <img class="home_portada2_img" src="/images/chicaRemera.png" alt="Foto De Remera">
            <div class="home_slide_track">
                <img src="/images/remeraBlanca1.png" alt="">
                <img src="/images/remeraBlanca2.png" alt="">
                <img src="/images/remeraBlanca3.png" alt="">
                <img src="/images/remeraBlanca1.png" alt="">
                <img src="/images/remeraBlanca2.png" alt="">
                <img src="/images/remeraBlanca3.png" alt="">
                <img src="/images/remeraBlanca1.png" alt="">
                <img src="/images/remeraBlanca2.png" alt="">
                <img src="/images/remeraBlanca3.png" alt="">
            </div>
        </div>
    </section>
    <!--GUIA-->
    <section class="home_guia">
        <div class="home_guia_contenedor">
            <div>
                <h2>1</h2>
                <h3>VOS LO DISEÑAS</h3>
                <h4>Con nuestro editor podras diseñar todo lo que necesites en pocos minutos</h4>
            </div>
            <div>
                <h2>2</h2>
                <h3>NOSOTROS LO ARMAMOS</h3>
                <h4>Nosotros nos encargamos de preparar todo tal cual vos lo creaste</h4>
            </div>
            <div>
                <h2>3</h2>
                <h3>LO ENVIAMOS A TU CASA</h3>
                <h4 id="home_fin_guia">Una vez tengamos los productos finalizados, te lo enviamos a donde quieras</h4>
            </div>
        </div>
    </section>
    <!--TUTORIAL DE DISEÑO-->
    <section class="home_tutorial">
        <h2>TUTORIAL DE DISEÑO</h2>
        <div class="home_tutorial_subrayado"></div>
        <div class="home_tutorial_video">
            <i class='bx bx-play-circle'></i>
        </div>
    </section>
    <!--ENVIOS A TODO EL PAIS-->
    <!-- <section class="home_envios">
        <img src="/images/envios2.jpg" alt="">
    </section> -->
    <!--ENVIOS GRATIS A TODO EL PAIS 2-->
    <section class="home_envios2">
        <div class="home_envios2_slide">
            <div class="home_envios2_mjs">ENVIOS GRATIS A TODO EL PAIS <i class='bx bxs-truck'></i></div>
        </div>
    </section>
    <!--FOOTER-->
    <section class="home_footer">
        <div class="home_footer_izquierda">
            <h2>OWN STYLE</h2>
            <div class="home_footer_izquierda_redes">
                <i class='bx bxl-instagram' ></i>
                <i class='bx bxl-twitter' ></i>
                <i class='bx bxl-facebook-square' ></i>
            </div>
        </div>
        <div class="home_footer_derecha">
            <ul>
                <li><a href="#">SOBRE NOSOTROS</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="#">Q&A</a></li>
                <li><a href="#">COMPRAR</a></li>
            </ul>
        </div>
    </section>
</body>
</html>