<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/log-regis.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body class="login_body">  
    <!--CABECERA-->
    <section class="home_cabecera">
        <div class="home_cabecera_titulo">
            <h1>OWN STYLE</h1>
            <i class='bx bx-menu'></i>
        </div>
        <nav class="home_navegador">
            <ul class="home_navegador_links">
                <li><a href="/">HOME</a></li>
                <li><a href="#">EDITOR</a></li>
                <li><a href="#">MI CUENTA</a></li>
            </ul>
        </nav>
    </section>
    <!--FORMULARIO LOGIN-->
    <section class="login">
         <form action="" class="login_formulario">
             <h2>INICIAR SESIÓN</h2>
             <label for="nombre">Nombre y Apellido</label>
             <input name="nombre" type="text">
             <br>
             <label class="login_label" for="contraseña">Contraseña</label>
             <input name="contraseña" type="text">
             <button type="submit">Iniciar Sesión</button>
         </form>
    </section>
    <!--FOOTER-->
    <section class="home_footer">
        <div class="home_footer_izquierda">
            <h2>OWN STYLE</h2>
            <div class="home_footer_izquierda_redes">
                <i class='bx bxl-instagram'></i>
                <i class='bx bxl-twitter'></i>
                <i class='bx bxl-facebook-square'></i>
            </div>
        </div>
        <div class="home_footer_derecha">
            <ul>
                <li><a href="#">SOBRE NOSOTROS</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="#">Q&A</a></li>
                <li><a href="#">COMPRAR</a></li>
            </ul>
        </div>
    </section>
</body>
</html>