<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/productDetail.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OWN STYLE - Detalle del producto</title>
</head>
<body class="home_body">
    <!--CABECERA-->
    <section class="home_cabecera">
        <div class="home_cabecera_titulo">
            <h1>OWN STYLE</h1>
            <i class='bx bx-menu'></i>
        </div>
        <nav class="home_navegador">
            <ul class="home_navegador_links">
                <li><a href="#">EDITOR</a></li>
                <li><a href="#home_fin_guia">TUTORIAL</a></li>
                <li><a href="#">MI CUENTA</a></li>
            </ul>
        </nav>
    </section>
		
    <!-- INICIO - Detalle del producto-->
		<main>
		<div class="descrip1">
        <section>					
            <h2>Producto seleccionado</h2>
            <img src="./images/remera1.jpg" alt="Producto">
        </section>
        <section>
            <h1>Nombre del producto</h1>
						<h2>Descripción corta del prodicto</h2>
						<p class="precio">$ Precio</p>
						<div style="text-align:center">
						<button class="buttom submit" type="submit">Agregar al carrito <i class="fas fa-shopping-cart"></i></button></div>
							
        </section>
      </div>
			
			<div class="descrip2">
				<p>Características del producto</p>
				<ul>
					<li>Remera blanca de algodón 100%</li>
					<li>Estampado a elección</li>
					<li>talle L</li>
				</ul>
				
			</div>
    <a href="#"><< Volver al listado</a>
		
		</main>
		<!-- FIN - Detalle del producto-->

    <!--ENVIOS GRATIS A TODO EL PAIS-->
		
    <section class="home_envios2">
        <div class="home_envios2_slide">
            <div class="home_envios2_mjs">ENVIOS GRATIS A TODO EL PAIS <i class='bx bxs-truck'></i></div>
        </div>
    </section>
    <!--FOOTER-->
    <section class="home_footer">
        <div class="home_footer_izquierda">
            <h2>OWN STYLE</h2>
            <div class="home_footer_izquierda_redes">
                <i class='bx bxl-instagram' ></i>
                <i class='bx bxl-twitter' ></i>
                <i class='bx bxl-facebook-square' ></i>
            </div>
        </div>
        <div class="home_footer_derecha">
            <ul>
                <li><a href="#">SOBRE NOSOTROS</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="#">Q&A</a></li>
                <li><a href="#">COMPRAR</a></li>
            </ul>
        </div>
    </section>

</body>
</html>