@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&family=Playfair+Display&family=Roboto&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --colorSecundario: #2a0944;
  --colorExtra: #fec260;
  --colorExtra2: #3b185f;
  --colorFondo: #eadffd;
}

/* Main */
main {
  min-height: calc(100vh - 124px);
  background-color: var(--colorFondo);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.carritoContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.carritoContainer button {
  background-color: var(--colorExtra);
  border: 2px solid var(--colorExtra);
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  transition: all 0.3s;
}
.carritoContainer button:hover {
  background-color: white;
  border: 2px solid var(--colorExtra);
  color: var(--colorExtra);
  padding: 0.5em;
}
.imgContenedor {
  padding: 10px;
  width: 90vw;
  max-width: 600px;
  position: relative;
  user-select: none;
}
.imgContenedor img {
  user-select: none;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 2px rgb(54, 54, 54));
}
.imgContenedor_limit {
  position: absolute;
  border: 1px dashed grey;
  top: 17%;
  left: 23%;
  width: 52%;
  height: 75%;
  overflow: hidden;
}
.btnContenedor {
  display: flex;
  justify-content: center;
  gap: 5px;
  max-width: 600px;
  margin-bottom: 10px;
  background-color: var(--colorSecundario);
  border-radius: 12px 12px 0 0;
  width: 90vw;
}
.editorBtn {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  align-items: center;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
}
.editorBtn:hover {
  font-size: 0.9rem;
  padding-left: calc(10px + 0.1rem);
  padding-right: calc(10px + 0.1rem);
}
.editorBtn:last-child:hover {
  font-size: 0.9rem;
  padding-left: calc(11px + 0.1rem);
  padding-right: calc(11px + 0.1rem);
}
.editorBtn i {
  font-size: 1.5rem;
}
.opcionesContenedor {
  z-index: 10;
  background-color: var(--colorExtra2);
  position: absolute;
  width: 90vw;
  max-width: 600px;
  height: 100%;
  top: -10px;
  right: 0;
  transition: height 0.5s;
}
.opcionesDisplay {
  height: 0;
}

/* Opciones de Edicion */
.invisible {
  display: none !important;
}
.coloresContenedor {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 15px;
  overflow: hidden;
}
.coloresContenedor h2 {
  color: var(--colorFondo);
}
.coloresContenedor section {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.coloresContenedor i {
  font-size: 3rem;
  cursor: pointer;
}
.coloresContenedor i:hover {
  opacity: 0.8;
}

.textoContenedor {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.textoContenedor_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.textoContenedor h2 {
  color: var(--colorFondo);
  margin-bottom: 20px;
}
.textoContenedor_texto {
  border: 1px solid var(--colorSecundario);
  padding: 2px;
  margin-bottom: 10px;
  font-size: 1rem;
}
.textoContenedor_form div {
  display: flex;
  align-items: flex-start;
}
.textoContenedor_color {
  border: 1px solid var(--colorSecundario);
  margin-bottom: 10px;
  background-color: white;
}
.textoContenedor_family {
  border: 1px solid var(--colorSecundario);
  font-size: 1rem;
  padding: 2px;
}
.textoContenedor button {
  background-color: var(--colorSecundario);
  border: 2px solid var(--colorSecundario);
  color: var(--colorFondo);
  padding: 5px;
  cursor: pointer;
}
.textoContenedor button:hover {
  background-color: #0b2b44;
}
.fraseCaja {
  cursor: move;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 80%;
  padding: 5px;
  border: 2px dashed rgba(128, 128, 128, 0.3);
}
.borrarBtn {
  width: 2.5vw;
  height: 0;
  padding-bottom: 2.5vw;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
  display: grid;
  cursor: pointer;
}
.tamañoBtn {
  width: 2.5vw;
  height: 0;
  padding-bottom: 2.5vw;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: -10px;
  cursor: nwse-resize;
}
.bx-trash-alt {
  margin: auto;
  padding-top: 2px;
  font-size: 2vw;
  color: rgba(255, 255, 255, 0.2);
}
.fraseCaja:hover .tamañoBtn {
  background-color: rgba(128, 128, 128, 1);
}
.fraseCaja:hover .borrarBtn {
  background-color: rgba(255, 0, 0, 1);
}
.fraseCaja:hover {
  border: 2px dashed rgba(128, 128, 128, 1);
}
.fraseCaja:hover .bx-trash-alt {
  color: rgba(255, 255, 255, 1);
}

.subirContenedor {
  width: 100%;
  height: 100%;
  padding: 20px 20%;
  overflow: hidden;
}
.dragArea {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed white;
}
.bx-cloud-upload {
  margin-top: 10px;
  color: white;
  font-size: 4rem;
}
.dragArea h2 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.dragArea span {
  color: white;
  font-size: 1.5rem;
}
.dragArea button {
  background-color: var(--colorFondo);
  border: 2px solid var(--colorFondo);
  color: var(--colorSecundario);
  font-size: 1.2rem;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.dragArea button:hover {
  background-color: #ffffffc5;
  border: 2px solid #ffffffc5;
}
.dragArea input {
  visibility: hidden;
}
.dropAreaDiv {
  width: 70%;
  height: auto;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: move;
  border: 2px dashed rgba(128, 128, 128, 0.3);
}
.dropAreaDiv:hover {
  border: 2px dashed rgba(128, 128, 128, 1);
}
.dropAreaImagen {
  width: 100%;
  object-fit: cover;
  user-select: none;
}
.tamañoBtnDrag {
  width: 2.5vw;
  height: 0;
  padding-bottom: 2.5vw;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: -10px;
  cursor: nwse-resize;
}
.borrarBtnDrag {
  width: 2.5vw;
  height: 0;
  padding-bottom: 2.5vw;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
  display: grid;
  cursor: pointer;
}
.dragTrash {
  margin: auto;
  padding-top: 2px;
  font-size: 2vw;
  color: rgba(255, 255, 255, 0.2);
}
.dropAreaDiv:hover .tamañoBtnDrag {
  background-color: rgba(128, 128, 128, 1);
}
.dropAreaDiv:hover .borrarBtnDrag {
  background-color: rgba(255, 0, 0, 1);
}
.dropAreaDiv:hover .dragTrash {
  color: rgba(255, 255, 255, 1);
}

.emojisContenedor {
  width: 100%;
  height: 100%;
}
@media (min-width: 732px) {
  main {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }
  .imgContenedor {
    width: 600px;
    margin-left: 10px;
  }
  .btnContenedor {
    height: 555px;
    flex-direction: column;
    width: unset;
    border-radius: 12px 0 0 12px;
  }
  .carritoContainer {
    position: absolute;
    left: 40vw;
    top: 80vh;
  }
  .opcionesContenedor {
    top: -5px;
    left: -10px;
    transition: width 0.5s;
  }
  .opcionesDisplay {
    height: inherit;
    width: 0;
  }
  .borrarBtn {
    width: 20px;
    padding-bottom: 20px;
  }
  .tamañoBtn {
    width: 20px;
    padding-bottom: 20px;
  }
  .bx-trash-alt {
    font-size: 15px;
  }
  .tamañoBtnDrag {
    width: 20px;
    padding-bottom: 20px;
  }
  .borrarBtnDrag {
    width: 20px;
    padding-bottom: 20px;
  }
  .dragTrash {
    font-size: 15px;
  }
}

@media (min-width: 1000px) {
  main {
    justify-content: center;
  }
  .opcionesContenedor {
    width: 30vw;
    max-width: 400px;
    left: 669px;
    transition: width 0.5s;
  }

  .imgContenedor {
    order: 1;
  }
  .btnContenedor {
    order: 2;
  }
  main::after {
    content: "";
    height: 500px;
    width: 30vw;
    max-width: 400px;
    order: 3;
    visibility: hidden;
  }
}

@media (max-width: 317px) {
  .editorBtn {
    font-size: 0.9rem;
    padding: 8px;
    cursor: pointer;
  }
  .editorBtn:hover {
    font-size: 0.8rem;
    padding-left: calc(8px + 0.1rem);
    padding-right: calc(8px + 0.1rem);
  }
  .editorBtn i {
    font-size: 1.2rem;
  }
}
