/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */
:root {
  --verdeOscuro: #2a0944;
  --verdeMedio: #fec260;
  --verdeClaro: #3b185f;
  --verdeBlanco: #f3f1f5;
}
.home_cabecera {
  width: 100%;
  background-color: var(--verdeOscuro);
  position: static;
}

/* Login */
.login_body {
  background-color: var(--verdeBlanco);
}
.login {
  height: calc(100vh - 124px);
  background-color: var(--verdeBlanco);
  /* margin-top: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 200px; */
}
.login_formulario {
  width: 95%;
  margin: 0 auto;
  border: 5px solid var(--verdeOscuro);
  border-radius: 12px;
  text-align: center;
  padding: 1em;
  position: relative;
}
.login_formulario h2 {
  justify-self: center;
  font-size: 1.5rem;
  margin: 0 0 1em 0;
  color: var(--verdeMedio);
}
.login_formulario input {
  display: block;
  width: 100%;
  border: 1px solid var(--verdeOscuro);
}
.login_formulario label {
  display: block;
  margin: 0.5em 0;
}
.login_formulario button {
  margin-top: 1em;
  background-color: transparent;
  border: 3px solid var(--verdeMedio);
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1rem;
  color: var(--verdeMedio);
  cursor: pointer;
}
.login_formulario button:hover {
  background-color: var(--verdeMedio);
  color: white;
}
@media (min-width: 550px) {
  .login_formulario {
    max-width: 40rem;
    padding: 4em 0;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr
    grid-template-rows: repeat(2, 1fr);
  }
  .login_formulario h2 {
    font-size: 2rem;
    grid-column: span 4;
  }
  .login_formulario input {
    width: 100%;
    height: fit-content;
    display: inline-block;
    font-size: 1.5rem;
    align-self: center;
    grid-column: 3 / 4;
  }
  .login_formulario label {
    display: inline-block;
    font-size: 1.5rem;
    grid-column: 2 / 3;
    text-align: start;
    align-self: center;
  }
  .login_label {
    /* margin-right: 73px !important; */
  }
  .login_formulario button {
    margin: 1em auto;
    font-size: 1.2rem;
    grid-column: span 4;
  }
}

/* Register */

.login_formulario h4 {
  margin: 0.5em 0.5em 1.5em 0.5em;
}

@media (min-width: 550px) {
  .register1 {
    margin-right: 30px !important;
  }
  .register2 {
    margin-right: 170px !important;
  }
  .register3 {
    margin-right: 137px !important;
  }
  .register4 {
    margin-right: 110px !important;
  }
}

/* Ambos */

@media (max-height: 750px) {
  .login{
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
@media (max-height: 560px) {
  .login{
    margin-top: 150px;
    margin-bottom: 150px;
  }
}
@media (max-height: 360px) {
  .login{
    margin-top: 250px;
    margin-bottom: 250px;
  }
}