@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --verdeOscuro: #2a0944;
  --verdeMedio: #fec260;
  --verdeClaro: #3b185f;
  --verdeBlanco: #f3f1f5;
}

/* ===HOME=== */
.home_body {
  background-color: var(--verdeBlanco);
  padding-top: 6em;
}
/* Cabecera */
.home_cabecera {
  width: 100%;
  background-color: var(--verdeOscuro);
  position: fixed;
  top: 0;
  z-index: 1000;
}
.home_cabecera_titulo {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home_cabecera_titulo h1 {
  margin: 0.5em 0;
  font-size: 2rem;
  color: white;
}
.home_cabecera_titulo i {
  font-size: 3.5rem;
  color: white;
  cursor: pointer;
}
.home_navegador {
  height: 0;
  overflow: hidden;
  background-color: var(--verdeOscuro);
}
.home_navegador_links {
  list-style: none;
  padding: 0.5em;
}
.home_navegador_links a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.home_navegador_links a:hover {
  color: var(--verdeBlanco);
}

/* PORTADA 2 */
.home_portada2 h3 {
  font-size: 1.5rem;
  text-align: center;
  margin: 2em 0;
  font-family: "Roboto Slab", serif;
  color: var(--verdeClaro);
}
.home_portada2_img {
  width: 185px;
  position: absolute;
  top: 0;
}
.home_slide {
  width: 90%;
  margin: 0 auto;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_slide_track {
  position: absolute;
  top: 0;
  display: flex;
  overflow: hidden;
  width: fit-content;
  animation: scroll 20s linear infinite;
}
.home_slide_track img {
  width: 185px;
  margin-left: 246px;
}

@keyframes scroll {
  0% {
    transform: translateX(300px);
  }
  15% {
    transform: translateX(-124.8px);
  }
  30% {
    transform: translateX(-124.8px);
  }
  45% {
    transform: translateX(-554px);
  }
  60% {
    transform: translateX(-554px);
  }
  75% {
    transform: translateX(-983.2px);
  }
  100% {
    transform: translateX(-983.2px);
  }
}
/* Guia */
.home_guia {
  width: 100%;
  background-color: var(--verdeMedio);
}
.home_guia_contenedor {
  width: 90%;
  margin: 0 auto;
}
.home_guia_contenedor div {
  background-color: black;
  text-align: center;
  margin: 0.2em 0.2em;
  padding: 0.2em;
}
.home_guia_contenedor h2 {
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7em auto;
}
.home_guia_contenedor h3 {
  color: white;
  margin-bottom: 1.5em;
}
.home_guia_contenedor h4 {
  display: none;
}

/* Tutorial */
.home_tutorial {
  background-color: var(--verdeBlanco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home_tutorial h2 {
  margin-top: 2em;
  font-size: 1.5rem;
  color: var(--verdeClaro);
}
.home_tutorial_subrayado {
  height: 0.3em;
  width: 12em;
  background-color: var(--verdeClaro);
  border-radius: 3px;
  margin-top: 0.2em;
}
.home_tutorial_video {
  background-color: #c6c6c6;
  width: 70%;
  height: 200px;
  margin: 2em 0 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bx-play-circle {
  font-size: 6rem;
  cursor: pointer;
}

/* Envios 2 */
.home_envios2 {
  width: 100%;
  background-color: var(--verdeOscuro);
  padding: 1em 0;
  overflow: hidden;
}
.home_envios2_slide {
  width: fit-content;
}
.home_envios2_mjs {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  color: white;
  margin-left: 100vw;
  width: 27rem;
  animation: envios 20s linear infinite;
}

@keyframes envios {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150vw);
  }
}

.home_envios2_mjs i {
  color: white;
}

/* Footer */
.home_footer {
  background-color: black;
  display: flex;
  padding: 0.5em;
  justify-content: space-evenly;
}
.home_footer_izquierda {
  margin: 1em 0;
  text-align: center;
}
.home_footer_izquierda h2 {
  color: white;
  margin-bottom: 0.2em;
  font-size: 1.5rem;
}
.bxl-instagram,
.bxl-twitter,
.bxl-facebook-square {
  color: white;
  cursor: pointer;
  font-size: 1rem;
}
.home_footer_derecha {
  margin: 1em 0;
}
.home_footer_derecha ul {
  list-style: none;
}
.home_footer_derecha a {
  text-decoration: none;
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 0.8rem;
}

@media (min-width: 732px) {
  /* Cabecera */
  .home_cabecera {
    display: flex;
    align-items: center;
  }
  .home_cabecera_titulo {
    width: unset;
    margin: 0 0 0 2em;
    display: flex;
    align-items: unset;
    justify-content: unset;
  }
  .home_cabecera_titulo h1 {
    font-size: 2.5rem;
  }
  .home_cabecera_titulo i {
    display: none;
  }
  .home_navegador {
    height: unset;
    overflow: unset;
  }
  .home_navegador_links {
    display: flex;
    list-style: none;
  }
  .home_navegador_links a {
    margin-left: 1.5em;
  }

  /* Portada */
  .home_portada_container {
    width: 80%;
    align-content: flex-start;
  }
  .home_portada_izquierda {
    width: 50%;
  }
  .home_portada_derecha {
    width: 50%;
  }
  .home_portada_derecha img {
    display: unset;
  }

  /* Guia */
  .home_guia {
    width: 100%;
  }
  .home_guia_contenedor {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .home_guia_contenedor div {
    margin: 0 0.2em;
    padding: 0 2em 1em;
    width: 30%;
  }
  .home_guia_contenedor h3 {
    color: white;
    margin-bottom: 1.5em;
  }
  .home_guia_contenedor h4 {
    color: white;
    margin-bottom: 1.5em;
    font-family: "Roboto Slab", serif;
    display: unset;
  }

  /* Tutorial */
  .home_tutorial_video {
    height: 350px;
    width: 625px;
  }
  .home_tutorial h2 {
    font-size: 2rem;
  }

  /* Envios2 */
  .home_envios2_mjs {
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px) {
  /* Portada */
  .home_portada_container {
    width: 60%;
  }
  /* Guia */
  .home_guia_contenedor div {
    padding: 1em 3em 3em 3em;
  }
  /* Tutorial */
  .home_tutorial {
    margin: 3em 0;
  }
  /* Envios */
  .home_envios {
    background: linear-gradient(to right, white 30%, black 30% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home_envios img {
    width: 60rem;
    height: 110%;
    position: unset;
  }
}
