@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700;900&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* ===HOME=== */
.home_body{
    background-color: #E5E5E5;
}
/* Cabecera */
.home_cabecera{
    width: 100%;
    background-color: grey;
}
.home_cabecera_titulo{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home_cabecera_titulo h1{
    margin: .5em 0;
    font-size: 2rem;
    color: white;
}
.home_cabecera_titulo i{
    font-size: 3.5rem;
    color: white;
    cursor: pointer;
}
.home_navegador{
    height: 0;
    overflow: hidden;
    background-color: grey;
}
.home_navegador_links{
    list-style: none;
    padding: .5em;
}
.home_navegador_links a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
/* Portada */
.home_portada{
    width: 100%;
    background-color: #E5E5E5;
    padding: .5em;
}
.home_portada_container{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 3em auto;
}
.home_portada_izquierda{
    width: 100%;
    text-align: center;
}
.home_portada_izquierda img{
    width: 100%;
}
.home_portada_izquierda h3{
    font-family: 'Roboto Slab', serif;
    font-size: 100%;
}
.home_portada_derecha{
    width: 0;
}
.home_portada_derecha img{
    width: 100%;
    display: none;
}

/* PORTADA 2 */
.home_portada2{

}
.home_portada2 h3{
    font-size: 1.5rem;
    text-align: center;
    margin: 1em 0;
    font-family: 'Roboto Slab', serif;
}
.home_portada2_img{
    width: 19vh;
    position: absolute;
    top: 0;
}
.home_slide{
    width: 90%;
    margin: 0 auto;
    height: 400px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_slide_track{
    position: absolute;
    top: 0;
    display: flex;
    overflow: hidden;
    width: fit-content;
    animation: scroll 20s linear infinite;
}
.home_slide_track img{
    width: 19vh;
    margin-left: 15.4em;
}

@keyframes scroll {
    0%{
        transform: translateX(300px);
    }
    15%{
        transform: translateX(-125px);
    }
    30%{
        transform: translateX(-125px);
    }
    45%{
        transform: translateX(-546px);
    }
    60%{
        transform: translateX(-546px);
    }
    75%{
        transform: translateX(-971px);
    }
    100%{
        transform: translateX(-971px);
    }
}
/* Guia */
.home_guia{
    width: 100%;
    background-color: #C6C6C6;
}
.home_guia_contenedor{
    width: 90%;
    margin:  0 auto;
}
.home_guia_contenedor div{
    background-color: black;
    text-align: center;
    margin: .2em .2em;
    padding: .2em;
}
.home_guia_contenedor h2{
    border: 3px solid white;
    border-radius: 50%;
    color: white; 
    width: 2.3rem;
    height: 2.3rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .7em auto;
}
.home_guia_contenedor h3{
    color: white;
    margin-bottom: 1.5em;
}
.home_guia_contenedor h4{
    display: none;
}

/* Tutorial */
.home_tutorial{
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home_tutorial h2{
    margin-top: 2em;
    font-size: 1.5rem;
}
.home_tutorial_subrayado{
    height: .3em;
    width: 12em;
    background-color: black;
    border-radius: 3px;
    margin-top: .2em;
}
.home_tutorial_video{
    background-color: #C6C6C6;
    width: 70%;
    height: 200px;
    margin: 2em 0 3em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bx-play-circle{
    font-size: 6rem;
    cursor: pointer;
}

/* Envios */
.home_envios img{
    width: 100%;
    position: relative;
    top: 5px;
}

/* Footer */
.home_footer{
    background-color: black;
    display: flex;
    padding: .5em;
    justify-content: space-evenly;
}
.home_footer_izquierda{
    margin: 1em 0;
    text-align: center;
}
.home_footer_izquierda h2{
    color: white;
    margin-bottom: .2em;
}
.bxl-instagram,
.bxl-twitter,
.bxl-facebook-square{
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}
.home_footer_derecha{
    margin: 1em 0;

}
.home_footer_derecha ul{
    list-style: none;
}
.home_footer_derecha a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
}

@media (min-width: 650px){
    /* Cabecera */
    .home_cabecera{
        display: flex; 
        align-items: center;
    }
    .home_cabecera_titulo{
        width: unset;
        margin: 0 0 0 2em;
        display: flex;
        align-items: unset;
        justify-content: unset;
    }
    .home_cabecera_titulo h1{
        font-size: 2.5rem;
    }
    .home_cabecera_titulo i{
        display: none;
    }
    .home_navegador{
        height: unset;
        overflow: unset;
    }
    .home_navegador_links{
        display: flex;
        list-style: none;
    }
    .home_navegador_links a{
        margin-left: 1.5em;
    }

    /* Portada */
    .home_portada_container{
        width: 80%;
        align-content: flex-start;
    }
    .home_portada_izquierda{
        width: 50%;
    }
    .home_portada_derecha{
        width: 50%;
    }
    .home_portada_derecha img{
        display: unset;
    }

    /* Guia */
    .home_guia{
        width: 100%;
        background-color: #C6C6C6;
    }
    .home_guia_contenedor{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .home_guia_contenedor div{
        margin: 0 .2em;
        padding:  0 2em 1em;
    }
    .home_guia_contenedor h3{
        color: white;
        margin-bottom: 1.5em;
    }
    .home_guia_contenedor h4{
        color: white;
        margin-bottom: 1.5em;
        font-family: 'Roboto Slab', serif;
        display: unset;
    }

    /* Tutorial */
    .home_tutorial_video{
        height: 350px;
        width: 625px;
    }
    .home_tutorial h2{
        font-size: 2rem;
    }
}

@media (min-width: 1000px){
    /* Portada */
    .home_portada_container{
        width: 60%;
    }
    /* Guia */
    .home_guia_contenedor div{
        padding: 1em 3em 3em 3em;
    }
    /* Tutorial */
    .home_tutorial{
       margin: 3em 0;
    }
    /* Envios */
    .home_envios{
        background: linear-gradient(to right, white 30%,black 30% 100%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home_envios img{
        width: 60rem;
        height: 110%;
        position: unset;
    }

}