<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/partials.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <!--BANNER-->
    <%- include('./partials/banner') %>
    <!--ADMIN TOOLS-->
    <%- include('./partials/admin') %>  
    <!--DASHBOARD-->
    <div class="moreinfo_dashboard">

    </div>
    <section class="dashboard">
        <div class="dashboard_inner">
            <% for( let i = 0; i < array.length; i++ ) { %>
                <div>
                    
                </div>
            <% } %>
        </div>
    </section>
    
</body>
</html>