<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/images/colorPalette.png">
    <link rel="stylesheet" href="/css/editor.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor</title>
</head>
<body>
    <!--CABECERA-->
    <%- include('./partials/header') %>

    <!--EDITOR-->
    <main>
        <div class="btnContenedor">
            <button class="editorBtn"><i class='bx bx-palette'></i>COLOR</button>
            <button class="editorBtn"><i class='bx bxs-quote-single-left'></i>TEXTO</button>
            <button class="editorBtn"><i class='bx bxs-cloud-upload'></i>SUBIR</button>
            <button class="editorBtn"><i class='bx bxs-paint-roll'></i>EMOJIS</button>
        </div>
        <div class="imgContenedor">
            <img class='imgContenedor_frente' src="/images/p<%= products %>.png" alt="">
            <section class="imgContenedor_limit"></section>
            <section class="opcionesContenedor opcionesDisplay">
                <div class="coloresContenedor invisible">
                    <h2>Elegi el color</h2>
                    <section class="coloresContenedor_caja">
                        <!--Casillas con colores-->
                    </section>
                </div>

                <div class="textoContenedor invisible">
                    <form class="textoContenedor_form" action="">
                        <h2>Escribi texto</h2>
                        <input class="textoContenedor_texto" type="text" >
                        <div>
                            <input class="textoContenedor_color" type="color">
                            <select class="textoContenedor_family">
                                <!--Opciones de font family-->
                            </select>
                        </div>
                        <button class="textoContenedor_btn">AGREGAR</button>
                    </form>
                </div>
                <div class="subirContenedor invisible">
                    <div class="dragArea">
                        <i class='bx bx-cloud-upload'></i>
                        <h2>Arrastra archivo para subir</h2>
                        <span>o</span>
                        <button>Busar Archivo</button>
                        <input type="file" name="">
                    </div>
                </div>
                <div class="emojisContenedor invisible">
                    DESARROLLO
                </div>
            </section>
        </div>
        <div class="carritoContainer">
            <button>AGREGAR AL CARRITO</button>
        </div>
    </main>
    
    <!--FOOTER-->
    <%- include('./partials/footer') %> 
</body>
</html>