<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/partials.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!--BANNER-->
    <%- include('./partials/banner') %>
    <!--FORM-->
    <section class="form_section">
        <form action="/user/login" class="form" method="POST">
            <h2>Formulario Login</h2>

            <div>
                <ul class="tablaErrores"></ul>
            </div>

            <label for="email">Email</label>
            <input name="email" type="email">

            <label for="password">Contraseña</label>
            <input name="password" type="password">
            <% if (locals.errors && errors.email) { %>
                <div class="invalid">
                    <%= errors.email.msg %> 
                </div>
            <% } %>

            <div class="remember">
                <input name="remember" type="checkbox">
                <label for="remember">Recordarme</label>
            </div>
            <button type="submit">Ingresar</button>
        </form>
    </section>
    <!--FOOTER-->
    <%- include('./partials/footer') %>

    <script src="/js/validations.js"></script>
</body>
</html>