<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/log-regis.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body class="login_body">
    <!--CABECERA-->
    <%- include('./partials/header') %>

    <!--FORMULARIO LOGIN-->
    <section class="login">
        <form action="" class="login_formulario">
            <h2>FORMULARIO DE REGISTRO </h2>
            <!-- <h4>Completá con tus datos y creá tu nueva cuenta para comprar los productos de nuestra tienda</h4> -->
            <label class="register1" for="nombre">Nombre y Apellido</label>
            <input name="nombre" type="text" pattern="[A-Za-z]{5}" title="Debes ingresar un mínimo de 5 caracteres">
            <br>
            <label class="register2" for="email">Email</label>
            <input name="email" type="text">
            <br>
            <label class="register3" for="telefono">Telefono</label>
            <input name="telefono" type="text">
            <br>
            <label class="register4" for="contraseña">Contraseña</label>
            <input name="contraseña" type="text">
            <br>
            <label class="register5" for="recontraseña">Confirmar contraseña</label>
            <input name="recontraseña" type="text">
            <button type="submit">Iniciar Sesión</button>
        </form>
    </section>
    <!--FOOTER-->
    <%- include('./partials/footer') %>

</body>

</html>