<section class="footer_section">
    <div class="footer">
        <div class="footer_logo">
            <h3>DOLCE ROME</h3>
            <ul>
                <li><a href=""><i class='bx bxl-instagram'></i></a></li>
                <li><a href=""><i class='bx bxl-twitter'></i></a></li>
                <li><a href=""><i class='bx bxl-facebook-square'></i></a></li>
            </ul>
        </div>
        <ul class="footer_links">
            <li><a href="">Sobre Nosotros</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Blog</a></li>
        </ul>
        <ul class="footer_location">
            <li>Ubicación:</li>
            <li>Av Rivadavia 5000</li>
            <li>CABA</li>
        </ul>
    </div>
</section>