<section class="home_footer">
    <div class="home_footer_izquierda">
        <h2>OWN STYLE</h2>
        <div class="home_footer_izquierda_redes">
            <i class='bx bxl-instagram'></i>
            <i class='bx bxl-twitter'></i>
            <i class='bx bxl-facebook-square'></i>
        </div>
    </div>
    <div class="home_footer_derecha">
        <ul>
            <li><a href="#">SOBRE NOSOTROS</a></li>
            <li><a href="#">CONTACTO</a></li>
            <li><a href="#">Q&A</a></li>
            <li><a href="#">COMPRAR</a></li>
        </ul>
    </div>
</section>