<section class="home_cabecera">
    <div class="home_cabecera_titulo">
        <h1>OWN STYLE</h1>
        <i class='bx bx-menu'></i>
    </div>
    <nav class="home_navegador">
        <ul class="home_navegador_links">
            <li><a href="/">HOME</a></li>
            <li><a href="#home_fin_guia">TUTORIAL</a></li>
            <li><a href="#">INGRESAR</a></li>
        </ul>
    </nav>
    <div class="home_cabecera_btn">
        <a href="/productCart"><i class='bx bx-cart-alt'></i></a>
        <a href="/login">Ingresar</a>
        <a href="/register">Registrarte</a>
    </div>
</section>